<div id="Profile">
    <div class="image"></div>
    <div class="triangle"></div>
    <div class="Icon Logo"></div>
    <div class="Container Connection-Container">
        <div class="Container ConnectionTab">
            <div class="Container header">
                <span>Name</span>
            </div>
            <div class="Container Connection">
                <input type="text" placeholder="Username">
                <input type="text" placeholder="Password">
                <div class=""></div>
            </div>
            <div class="Signup"></div>
            <div class="Container Button-Container">
                <div class="Container Button">
                    <span> Login </span>
                </div>
            </div>
            <div class="ChangeConnection">New to Name? <a>Signup!</a></div>
        </div>
    </div>
</div>
