<div class="Container" id="Profile-Container">
    <div class="Container Icon-Container">
        <div class="Icon"></div>
        <div style="border:none;box-shadow:none;">Name</div>
    </div>
    <div class="Container Tab-Container">
        <div class="Container Tab">
            <div class="Icon options-icon"></div>
            <div> asdasd</div>
        </div>
        <div class="Container Tab">
            <div class="Icon options-icon"></div>
            <div> asdasd</div>
        </div>
        <div class="Container Tab">
            <div class="Icon options-icon"></div>
            <div> asdasd</div>
        </div>    
    </div>
</div>>
