/* You can add global styles to this file, and also import other style files */

body {
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

div {
    display: block;
    box-sizing: border-box;
    text-align: center;
    border-width: 1px;
    box-shadow: 0px 0px 10px 1px #cccccc;
    padding: 2px;
}

.Container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.Icon {
    width: 10%;
    padding-top: 10%;
    border-radius: 50%;
}

.Tab {
    height:10%;
    width: 98%;
    margin-bottom: 5px;
    border: none;
    flex-direction: row;
    cursor: pointer;
    transition: width,height 0.4s ease;
}

.TabName {
    width: 50%;
    height: 20%;
}