<div clas="Container" id="chatTab">
    <div class="Container Tab header">
        <button class="chatBack">Back</button>
        <div class="Icon headericon"></div>
        <div class="TabName">Name</div>
    </div>
    <div class="Container ChatContainer">
        <div class="Container Tab ChatBox">
            <div class="Container Chat">
                <div class="Icon"></div>
                <div class="ChatText"> asdas</div>
            </div>
        </div>
    </div>
    <div class="Container TextBar">
        <Textarea class="Text" placeholder="Your friends are waiting..."></Textarea>
        <div class="Icon" id="sendmsg"></div>
    </div>
</div>
