<div clas="Container" id="chatTab">
    <div class="Container Tab header">
        <button class="chatBack">Back</button>
        <div class="Icon headericon"></div>
        <div class="TabName">Name</div>
    </div>
    <div class="Container ChatContainer">
        <div class="Container Tab ChatBox" *ngFor="let chat of Chats;">
            <div class="Container Chat">
                <div class="Icon"></div>
                <div class="ChatText"> {{chat}}</div>
            </div>
        </div>
    </div>
    <div class="Container TextBar">
        <Textarea 
        ngDefaultControl
        class="Text" 
        placeholder="Your friends are waiting..." 
        [(ngModel)]="Text">
        </Textarea>
        <div class="Icon" id="sendmsg" (click)="send()"></div>
    </div>
</div>
