.Friends {
    width: 12vw;
    height:100vh;
    padding: none;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 12%;
    cursor:initial;
    padding-left: 5%;
    font-weight: 300;
    font-size: xx-large;
    flex-direction: row;
}

.Tab-Container {
    width:100%;
    height: 88%;
}

.Tab {
    height:8%;
    justify-content: center;
    transition: none;
}

.TabName {
    width: 50%;
    height: auto;
    text-align: center;
    box-shadow: none; 
}

.showOnline {
    width: 10px;
    padding-top: 10px;
    margin-right: 2px;
    background-color: lime;
    box-shadow: none;
}