<div id="Profile">
    <div class="image"></div>
    <div class="triangle"></div>
    <div class="Icon Logo"></div>
    <div class="Container Connection-Container">
        <div class="Container ConnectionTab">
            <div class="Container header">
                <span>Name</span>
            </div>
            <div class="Container Connection">
                <div *ngFor="let field of InputFields;let i=index;">
                    <input type="text" placeholder="{{field}}" [(ngModel)]="InputVals[i]">
                </div>
                <div class=""></div>
            </div>
            <div class="Signup"></div>
            <div class="Container Button-Container">
                <div class="Container Button" (click)="Submit()">
                    <span> {{states[ind]}} </span>
                </div>
            </div>
            <div class="ChangeConnection">
                {{ CurrentState() }}? <a (click)="ChangeConnection()">{{ states[xor(ind)] }}!</a>
            </div>
        </div>
    </div>
</div>
